<!DOCTYPE html>
<html>

<head>
    <% include ../../../includes/header.ejs %>
    <title>Prove 10</title>
</head>

<body onload="fetchAll()">
    <% include ../../../includes/nav.ejs %>
    <div class="jumbotron text-center">
        <div class="container">
            <h1>Prove 10</h1>
            <form action="/prove/pr10/?insert=<%= insert.value %>" method="POST">
                Insert Item: <input type="text" name="insert" id="insert" style="color: black;">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" class="btn btn-primary">Add Item</button>
            </form>
        </div>
    </div>

    <div style="text-align: center; margin: auto;">
        <h2>Avengers</h2>
        <div class="container"
            style="border: 2px solid blue; border-radius: 10px; margin: 10px; background: powderblue; width: 100px; text-align: center; margin:10px auto;">
            <div class="container">
                <h1 class="display-4" id="avengers0"></h1>
            </div>
        </div>

        <div class="container"
            style="border: 2px solid blue; border-radius: 10px; margin: 10px; background: powderblue; width: 100px; text-align: center; margin:10px auto;">
            <div class="container">
                <h1 class="display-4" id="avengers1"></h1>
            </div>
        </div>

        <div class="container"
            style="border: 2px solid blue; border-radius: 10px; margin: 10px; background: powderblue; width: 100px; text-align: center; margin:10px auto;">
            <div class="container">
                <h1 class="display-4" id="avengers2"></h1>
            </div>
        </div>

        <div class="container"
            style="border: 2px solid blue; border-radius: 10px; margin: 10px; background: powderblue; width: 100px; text-align: center; margin:10px auto;">
            <div class="container">
                <h1 class="display-4" id="avengers3"></h1>
            </div>
        </div>

        <div class="container"
            style="border: 2px solid blue; border-radius: 10px; margin: 10px; background: powderblue; width: 100px; text-align: center; margin:10px auto;"">
            <div class=" container">
            <h1 class="display-4" id="avengers4"></h1>
        </div>
    </div>

    <div class="container"
        style="border: 2px solid blue; border-radius: 10px; margin: 10px; background: powderblue; width: 100px; text-align: center; margin:10px auto;">
        <div class="container">
            <h1 class="display-4" id="avengers5"></h1>
        </div>
    </div>
    </div>
</body>

</html>

<script src="fetch.js"></script>