<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PR01 Input</title>
</head>
<body>
    <h1>We received your input!</h1>
    <p>This is input 1: <%= input1 %></p>
    <br>
    <pr>This is input 2: <%= input2 %></p>
</body>
</html>