<!DOCTYPE html>
<html>
<head>
  <% include ../../includes/header.ejs %>
</head>

<body>
  <% include ../../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= pageTitle %></h1>
    <p>Click the button below to access my commerce project for the semester!</p>
  </div>
  <button onclick="document.location='shop'" class="button button3">Enter my eCommerce App!</button>
</div>

</body>
</html>
