<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <p>Here you will find my CSE341 assignments for the semester.  Look for them under the dropdown menus at the top of the page.</p>
  </div>
</div>

</body>
</html>
