<!DOCTYPE html>
<html>

<head>
  <% include ../../includes/header.ejs %>
</head>

<body>
  <% include ../../includes/nav.ejs %>
  <div class="jumbotron text-center">
    <div class="container">
      <h1><%= pageTitle %></h1>
      <p>Here you will find all of my team assignments for the semester!</p>
    </div>
    <ul>
      <button onclick="document.location='ta01'" class="button button1">Team Activity 01</button>
      <button onclick="document.location='ta02'" class="button button1">Team Activity 02</button>
      <button onclick="document.location='ta03'" class="button button1">Team Activity 03</button>
      <button onclick="document.location='ta04'" class="button button1">Team Activity 04</button>
    </ul>
    <ul>
      <button onclick="document.location='ta05'" class="button button1">Team Activity 05</button>
    </ul>
  </div>

</body>

</html>